<div class="col-4 text-left">
    <a href="{{ path('admin_user_all') }}" class="btn btn-sm btn-primary">Retour</a>
</div>
<br />
<div class="card shadow mb-4 ">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Modifier les informations</h6>
    </div>
    <br class="card-body table table-hover">
    {% for message in  app.session.flashbag.get('message') %}
        <p style="color: forestgreen; text-align: center">{{ message }}</p>
    {% endfor %}
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    </br>
    <div class="col-lg-12 ">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Rôle</span>
            </div>
            {{ form_widget(form.roles, { 'attr': {'class': 'custom-select'} }) }}

        </div>
    </div>
    </br>

    <div class="col-lg-12">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Nom</span>
            </div>
            {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    </br>

    <div class="col-lg-12 ">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Prénom</label>
            </div>
            {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    </br>
    <div class="col-lg-12 ">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Email</span>
            </div>
            {{ form_widget(form.mail, { 'attr': {'class': 'form-control'} }) }}

        </div>
    </div>
    </br>
    <div class="col-lg-12 ">
        {{ form_errors(form.password.first) }}
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Mot de passe</span>
            </div>
            {{ form_widget(form.password.first, { 'attr': {'class': 'form-control'} }) }}

        </div>
    </div>
    </br>
    <div class="col-lg-12 ">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Confirmez votre mot de passe</span>
            </div>
            {{ form_widget(form.password.second, { 'attr': {'class': 'form-control'} }) }}

        </div>
    </div>
    </br>
    <div class="text-center">
        {{ form_widget(form.send, { 'attr': {'class': 'btn btn-primary btn-lg  btn-block'} }) }}
    </div>
    {{ form_end(form) }}
</div>