<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Réinitialisation de votre mot de passe!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        <!-- Custom fonts for this template-->
        <link href="/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">
    {% endblock %}
</head>
{% block body %}
    <body class="bg-gradient-primary">

    <div class="container">
        {{ form_start(form) }}
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Mot de passe oublié?</h1>
                                        <p class="mb-4">Veuillez rentrer votre adresse email!</p>
                                    </div>
                                    {% for message in  app.session.flashbag.get('message') %}
                                        <p style="color: forestgreen; text-align: center">{{ message }}</p>
                                    {% endfor %}
                                    {% for message in  app.session.flashbag.get('warning') %}
                                        <p style="color: red; text-align: center">{{ message }}</p>
                                    {% endfor %}
                                        <div class="form-group mb-3">
                                            {{form_row(form.mail)}}
                                        </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block my-4">Envoyer</button>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{{ path('register') }}">Pas encore inscrit?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{{ path('login') }}">Déjà inscrit?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    {{ form_end(form) }}
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}
</html>