{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tableau de bord</h1>

        </div>
        {% if is_granted('ROLE_ASC') %}
            {{ include('home/stat_asc.html.twig') }}
        {% else %}
            {{ include('home/stat_user.html.twig') }}
        {% endif %}

        <!-- Content Row -->

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Dernières publications</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body table table-hover">
                        <table>
                            <tr>
                                <th style="height: 3vw">Titre</th>
                                <th>Auteur</th>
                                <th>Date</th>
                                <th>Catégorie</th>
                            </tr>
                            {% for content in contentsOrderByDate %}
                                <tr class="publishedContent" id="{{ content.id }}">
                                    <td style="height: 3vw">{{ content.title }}</td>
                                    <td>{{ content.author.firstname }} {{ content.author.lastname }}</td>
                                    <td>{{ content.publicationDate|date('d M yy', 'Europe/Paris') }}</td>
                                    <td>{{ content.category.label }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->

    <!-- End of Main Content -->
{% endblock %}

    {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
