{% extends 'base.html.twig' %}

{% block title %}Articles publiés{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Articles publiés</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table  id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th style="height: 3vw">Titre</th>
                            <th>Auteur</th>
                            <th>Date</th>
                            <th>Catégorie</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for content in contentsOrderByDate %}
                            <tr class="publishedContent" id="{{ content.id }}">
                                <td style="height: 3vw">{{ content.title }}</td>
                                <td>{{ content.author.firstname }} {{ content.author.lastname }}</td>
                                <td>{{ content.publicationDate|date('d M yy', 'Europe/Paris') }}</td>
                                <td>{{ content.category.label }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('home') }}

    {% endblock %}