{% extends 'base.html.twig' %}

{% block title %}Mes contenus{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Mes publications</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body table table-hover">
                    <table class="dataTable">
                        <thead>
                        <tr>
                            <th style="height: 3vw">Titre</th>
                            <th>Date</th>
                            <th>Catégorie</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for content in publishedContents %}
                            <tr class="publishedContent" id="{{ content.id }}">
                                <td style="height: 3vw">{{ content.title }}</td>
                                <td>{{ content.publicationDate|date('d M yy', 'Europe/Paris') }}</td>
                                <td>{{ content.category.label }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Mes articles en attente</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body table table-hover">
                    <table class="dataTable">
                        <thead>
                        <tr>
                            <th style="height: 3vw">Titre</th>
                            <th>Date</th>
                            <th>Catégorie</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for content in reviewContents %}
                            <tr class="waitingContent" id="{{ content.id }}">
                                <td style="height: 3vw">{{ content.title }}</td>
                                <td>{{ content.publicationDate|date('d M yy', 'Europe/Paris') }}</td>
                                <td>{{ content.category.label }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Mes brouillons</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body table table-hover">
                    <table id="dataTable">
                        <thead>
                        <tr>
                            <th style="height: 3vw">Titre</th>
                            <th>Date</th>
                            <th>Catégorie</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for content in draftContents %}
                            <tr class="draftContent" id="{{ content.id }}">
                                <td style="height: 3vw">{{ content.title }}</td>
                                <td>{{ content.publicationDate|date('d M yy', 'Europe/Paris') }}</td>
                                <td>{{ content.category.label }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    <!-- End of Main Content -->
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('home') }}
    {% endblock %}
