{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}

{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="sb-4">
        <a href="{{ path('category_admin_create') }}" class="btn btn-sm btn-success" >Ajouter une catégorie</a>
    </div>

    <br />
    <!-- Area Chart -->
    <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Catégories</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body table table-hover">
                <table id="datatable">
                    <thead>
                        <tr>
                            <th style="height: 3vw">Titre</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr class="categoriesList" id="{{ category.id }}">
                                <td style="height: 3vw">{{ category.label }}</td>
                                <td>{{ category.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
    {{ encore_entry_script_tags('admin_category') }}

{% endblock %}