{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <div class="row justify-content-center ">
            <div class="col-xl-8 col-lg-8 col-md-10">
                {{ include('user/_form_update.html.twig') }}
            </div>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('home') }}
    {% endblock %}
